Avatar-chat-Brain.json
{
  "name": "Avatar-chat-Brain",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        272,
        0
      ],
      "id": "6363ea9a-9373-4b88-97ca-8b2e146ec54f",
      "name": "Webhook",
      "webhookId": "834500e5-dbff-4f48-8040-abef33f75cd0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v1/streaming.task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $json.body.session_id }}\",\n  \"text\": \"{{ $node['Gemini Chat Model'].json.output }}\",\n  \"task_type\": \"repeat\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        0
      ],
      "id": "0c74bed9-485a-430b-8cd2-6b8ac39421da",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZQP4250foYnujstA",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ihNpkfej9N49Y91JIK8UMs_zDlzqvu_wWhzvIexhm6o",
          "mode": "list",
          "cachedResultName": "Avatar - Launcher",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ihNpkfej9N49Y91JIK8UMs_zDlzqvu_wWhzvIexhm6o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ihNpkfej9N49Y91JIK8UMs_zDlzqvu_wWhzvIexhm6o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "{{ $now }}",
            "Client Name": "{{ $node[\"Webhook\"].json.body.client_name }}",
            "Phone": "{{ $node[\"Google Gemini Chat Model\"].json.output.phone_number }}",
            "Needs": "{{ $node[\"Google Gemini Chat Model\"].json.output.core_needs }}",
            "Full Transcript": "{{ $node[\"Webhook\"].json.body.transcript }}",
            "Cost Estimate": "{{ $node[\"Webhook\"].json.body.cost }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Needs",
              "displayName": "Needs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Transcript",
              "displayName": "Full Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cost Estimate",
              "displayName": "Cost Estimate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "746c83fe-834b-4935-b647-ddadf6e5ce54",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "f4HE01XVxRPzNQD4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        64
      ],
      "id": "ca197e2b-bef0-417a-9b22-0d1496030610",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "eVxVPLJYmRiSVLTa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.body.system_prompt }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        480,
        192
      ],
      "id": "4ea79ce9-93f8-48b6-a012-0f79a28ad6f9",
      "name": "Basic LLM Chain"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1f8e468-db33-4e1f-b303-89f407ba7f70",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99b82fbbd9a269c5f0cc534ee09ea722a1e7f0956e0665d3639488a9476f4970"
  },
  "id": "lgFmjlK0EicCXf5q",
  "tags": []
}